body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(104, 64, 210), rgb(115, 214, 59)) repeat scroll 0% 0%;

}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
